{% extends "main_page/base.html" %}

{% block title %}
{{ title }}
{% endblock %}
{% load static %}
{% block link %} {% static 'main_page_css/about.css' %} {% endblock %}

{% block content %}
    <h1>{{ title }}</h1>

    <div class="bg-ex-blur">
      <div class="img-blur"></div>
      <p>Спасибо что пользуетесь нашим сайтом, мы рады видеть вас!!! <br>
      Хотел бы расскать немного истории, почему же мы решили сделать этот сайт? <br> <br>

    Дело брало начало где-то во 2 полугодии, 3 четверть, и планировалось к завершению в апреле. Сайт был создан для 313 группы) <br> <br>
  Этот сайт не только пойдет в мое портфолио, а также будет помогать 313 группе в различных учебных вопроса. <br> <br>
  Сайт Shelby - это мой первый сайт, который я создал! )))</p>
    </div>

{% endblock %}