<html class="no-js" lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block abs_title %}{% endblock %} | Shelby</title>
    {% load static %}
    <link rel="icon" href="{% static 'img/Shelby.png' %}" type="image/x-icon">
    <link rel="stylesheet" href="{% static 'all_abs/all.css' %}">
    <link rel="stylesheet" href="{% static 'dict/css/lightbox.css' %}">
    <script src="{% static 'all_abs/all.js' %}"></script>
    <script src="{% static 'dict/js/lightbox-plus-jquery.js' %}"></script>

</head>

<body>
    <div class="bg-ex-animation">
      <h1>{% block info %}{% endblock %}</h1>

              <!-- Slideshow container -->
        <div class="slideshow-container">

          <!-- Full-width images with number and caption text -->
            {% block content %}{% endblock %}

          <!-- Next and previous buttons -->
          <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
          <a class="next" onclick="plusSlides(1)">&#10095;</a>
        </div>
        <br>

        <!-- The dots/circles -->
        {% block circles %}{% endblock %}

        <div class="P_S">
          <h3>Сразу хочу сказать конспеты будут выкладываться только актуальные, все конспекты раннее будут просто удаляться</h3>
        </div>

    </div>
    <input type="checkbox" id="nav-toggle" hidden="">
    <nav class="nav">
        <label for="nav-toggle" class="nav-toggle" onclick=""></label>

        <h2 class="logo">
            <a href="{% url 'home' %}">Shelby</a>
        </h2>
        <ul>
            <li><a href="{% url 'home' %}">Главная</a>
            </li><li><a href="{% url 'schedule' %}">Расписание</a>
            </li><li><a href="{% url 'abstract' %}">Конспекты</a>
            </li><li><a href="{% url 'homework' %}">Домашняя работа</a>
            </li><li><a href="{% url 'about' %}">О сайте</a></li>
        </ul>
      </nav>
</body>
</html>