{% extends "all_abs/base.html" %}

{% block abs_title %}ОБЖ{% endblock %}
{% block info %}Конспект по ОБЖ{% endblock %}


{% block content %}
    {% if abs_obz %}
          {% for obz in abs_obz %}
          <div class="mySlides fade">
            <div class="numbertext">{{ obz.title }} / {{ count }}</div>
              <a href="{{ obz.image.url }}" data-lightbox="test"><img src="{{ obz.image.url }}"></a>
          </div>
          {% endfor %}
    {% else %}
        <div class="mySlides fade">
            <div class="numbertext">1 / 1</div>
                <img src="https://cdn-front.kwork.ru/files/portfolio/t3/53/31bfc4af5e899dcb2c005dc2a7ee6c253d0e2405-1585829453.jpg">
          </div>
    {% endif %}
{% endblock %}


{% block circles %}
    <div style="text-align:center">
          {% for obz in abs_obz %}
                <span class="dot" onclick="currentSlide({{ obz.title }})"></span>
          {% endfor %}
    </div>
{% endblock %}