{% extends "all_abs/base.html" %}

{% block abs_title %}ОИД{% endblock %}
{% block info %}Конспект по ОИД{% endblock %}


{% block content %}
    {% if abs_oid %}
          {% for oid in abs_oid %}
          <div class="mySlides fade">
            <div class="numbertext">{{ oid.title }} / {{ count }}</div>
              <a href="{{ oid.image.url }}" data-lightbox="test"><img src="{{ oid.image.url }}"></a>
          </div>
          {% endfor %}
    {% else %}
        <div class="mySlides fade">
            <div class="numbertext">1 / 1</div>
            <img src="https://cdn-front.kwork.ru/files/portfolio/t3/53/31bfc4af5e899dcb2c005dc2a7ee6c253d0e2405-1585829453.jpg">
          </div>
    {% endif %}
{% endblock %}


{% block circles %}
    <div style="text-align:center">
          {% for oid in abs_oid %}
                <span class="dot" onclick="currentSlide({{ oid.title }})"></span>
          {% endfor %}
    </div>
{% endblock %}