{% extends "all_abs/base.html" %}

{% block abs_title %}Обществознание{% endblock %}
{% block info %}Конспект по Обществознанию{% endblock %}


{% block content %}
    {% if abs_social_studies %}
          {% for social_studies in abs_social_studies %}
          <div class="mySlides fade">
            <div class="numbertext">{{ social_studies.title }} / {{ count }}</div>
              <a href="{{ social_studies.image.url }}" data-lightbox="test"><img src="{{ social_studies.image.url }}"></a>
          </div>
          {% endfor %}
    {% else %}
        <div class="mySlides fade">
            <div class="numbertext">1 / 1</div>
                <img src="https://cdn-front.kwork.ru/files/portfolio/t3/53/31bfc4af5e899dcb2c005dc2a7ee6c253d0e2405-1585829453.jpg">
          </div>
    {% endif %}
{% endblock %}


{% block circles %}
    <div style="text-align:center">
          {% for social_studies in abs_social_studies %}
                <span class="dot" onclick="currentSlide({{ social_studies.title }})"></span>
          {% endfor %}
    </div>
{% endblock %}